<div>
	<div class="defPartial">
		<%
			username = definition.user_id ?
				User.where(id: definition.user_id).first.username :
					"[Deleted User]"
		%>
		<div>Definition: <%= definition.definition %></div>
		<div>Usage: <%= definition.usage %></div>
		<div>Usage Translation: <%= definition.usage_translation %></div>
		<div>Tags: 
			<% definition.tags.each do |tag| %>
					<%= link_to tag.name, tag_path(tag), :class => 'button tagButton'%>
			<% end %>	
		</div>
		<div>Last modified by <%=username%> on <%= definition.updated_at.strftime("%m/%d/%Y")%> </div>
		<% if definition.user==current_user && current_user %>
		<span>
			<a class="button" id="delDefButton" onclick="deleteDefinition(<%= definition.id %>)">Delete this Definition</a>
			<%= link_to "Edit this definition!", edit_entry_definition_path(@entry, definition), :class => 'button addEditButton'%>
		</span>
		<% end %>	
	</div>
	<script>
		function deleteDefinition(defId) {
	    console.log(defId);
			$.ajax({
		    url: window.location.pathname+'/definitions'+'/'+defId,
		    type: "DELETE",
		    success: function(){alert('Definition Deleted!')},
		    error: function(xhr, status, error) {
				  var err = JSON.parse(xhr.responseText);
				  alert(err.Message);
				}
			});
		}
	</script>
</div>

