<%= form_with model:@entry do |f| %>
	<ul>
	<% @entry.errors.full_messages.each do |error| %>
	<li><%= error %></li>
	<% end %>
	</ul>
	<div class="inputFields">
		<p>
			<span>
				<%= f.label :phrase %>
			</span>
			<span>
				<%= f.text_field :phrase %>
			</span>
		</p>
		<p>
			<span>
				<%= f.label :pinyin %>
			</span>
			<span>
				<%= f.text_field :pinyin %>
			</span>
		</p>
		<p>
			<span class="submitButton">
				<%= f.submit %>					
			</span>	
		</p>
  	
	</div>
<% end %>