<div class='mainPanel'></div>
<h4>Entries</h4>

<div>This is some overview page for entries</div>

<div>In our case, we'll just display how many entries we have in the db, which is <%= @count %></div>

<%= form_tag entries_path, :method => 'get', :id => "entries_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% for entry in @entries %>
  <div class='entry'>
      <strong>   <%= link_to entry.phrase, entry_path(entry) , :class => "button"%>
 </strong>
  </div>
<% end %>