<head>
	<link href="https://fonts.googleapis.com/css?family=Oswald|Noto+Sans+TC&display=swap" rel="stylesheet">
	<script type="text/javascript">
	</script>
</head>
<body>
	<%= javascript_pack_tag 'application'%>
	<div class="panel">

		<div class="textPanel">
			<div class="searchBarSection">
				<form onsubmit="getResults($.get('#searchInput').val())">
					<div class="inputSection">
						<label class="searchTitle">Search</label>
					  <input type="text" id="searchInput">
					</div>
				</form>
				<%= form_tag entries_path, :method => 'get', :id => "entries_search" do %>
				  <p>
				    <%= text_field_tag :search, params[:search] %>
				    <%= submit_tag "Search", :name => nil %>
				  </p>
				<% end %>
			</div>
			<br>
			<% t=Time.now %>
			<div class="trending">
				<h3 class="wordSection">Top 5 Trending - <%= t.strftime("%b %d, %Y") %> </h3>
				<div class="trendingList">
					<ol>
						<% Entry.all.order(view_count: :desc).limit(5).each do |entry| %>
					    <li>
					    	<%= link_to "#{entry.phrase}", entry_path(entry.id) %>
					    </li>
					  <% end %>
					</ol>
					<div class="newWordLink">
						<%= link_to "Add a new word!", new_entry_path, :class => 'button' %>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<script type="text/javascript">
		function getResults(queryText){
			const baseURL = window.location.protocol + "//" + window.location.host;
			$.get(window.location.protocol + "//" + window.location.host+"/search/query", {query: queryText}, function(data){}, "json");
		} 
	</script>
</body>
