<head>
	<link href="https://fonts.googleapis.com/css?family=Oswald|Noto+Sans+TC&display=swap" rel="stylesheet">
	<script type="text/javascript">
	</script>
</head>
<body>
	<%= javascript_pack_tag 'application'%>
	<div class="panel">

		<div class="textPanel">
			<br>
			<% t=Time.now %>
			<div class="trending">
				<h3 class="wordSection">Top 5 Trending - <%= t.strftime("%b %d, %Y") %> </h3>
				<div class="trendingList">
					<ol>
						<% Entry.all.order(view_count: :desc).limit(5).each do |entry| %>
					    <li>
					    	<%= link_to "#{entry.phrase}", entry_path(entry.id) %>
					    	<% first_definition = Definition.find_by(entry_id: entry.id) %>
					    	<%= first_definition ? "- #{first_definition.definition}" : " - [This phrase does not have a definition! Add one!]"  %>
					    </li>
					  <% end %>
					</ol>
					<div class="newWordLink">
						<%= link_to "Add a new slang!", new_entry_path, :class => 'button' %>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<script type="text/javascript">
		function getResults(queryText){
			const baseURL = window.location.protocol + "//" + window.location.host;
			$.get(window.location.protocol + "//" + window.location.host+"/search/query", {query: queryText}, function(data){}, "json");
		} 
	</script>
</body>
